*{
    font-family: "Inter";
}

#faixa-topo{
 color: #FFFFFF;
 background-color: #303030 ;
 padding: 150px;
}

#texto-principal{
 margin-left:-80px;
 font-size:60px;
 font-weight:600;
 line-height: 72px;
}

#texto-secundario{
 margin-left: -80px;
 margin-top: -15px;
 font-size: 20px;
}

#back-infos{
    background-color: #f9f9f9;
    padding: 35px;
}

#texto-numeros{
display: grid;
grid-auto-flow: column;
columns: auto;
margin: 0px 0px 0px 300px;
}

#textinho-um{
display: grid;
grid-auto-flow: column;
columns: auto;
margin: -19px 0px 0px 300px;
}

#textinho-dois{
display: grid;
grid-auto-flow: column;
columns: auto;
margin: -22px 0px 50px 702px;
}

#textinho-tres{
display: grid;
grid-auto-flow: column;
columns: auto;
margin: -70px 0px 0px 1085px;
}

#menu-foto{
background-color: white;
font-family: "inter" ;
margin-top: 230px;
margin-left: 250px;
}

#foto{
margin-top:-370px ;
margin-left: 680px;
margin-bottom: 65px;
width: 510px;
height: 605px;
}

#texto-arquitetos{
font-size: 35px;
font-weight: 490;
font: bolder;
}

#texto-complementar{
font-size: 20px
}

#formulario{
text-align: center;
padding: 50px;
color: white;
background-color: #303030
}

#titulo-formulario{
    font-size:30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

input{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    margin-top: 40px;
}


#botao{
background-color: #C07212;
color: white;
width: 200px;
height: 50px;
border-radius: 10px;
font-size: 22px;
font: bolder;
margin-top: 60px;
}

#botao:hover{
    transform: translateY(10%);
    cursor: pointer;
    }
